In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Datasets/Train.csv')
test = pd.read_csv('Datasets/Test.csv')

In [3]:
test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,A
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,B
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,A

In [4]:
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [5]:
data = data.dropna()
test = test.dropna()

In [6]:
X = data.drop('Segmentation',axis=1)
y = data['Segmentation']
X_test = test.drop('Segmentation',axis=1)
y_test = test['Segmentation']

In [7]:
X.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6

In [8]:
X = pd.get_dummies(X)
X_test = pd.get_dummies(X_test)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

model= KNeighborsClassifier()

In [10]:
model.fit(X,y)

KNeighborsClassifier()

In [11]:
y_pred = model.predict(X_test)

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           A       0.37      0.34      0.35       692
           B       0.25      0.28      0.26       450
           C       0.23      0.31      0.27       381
           D       0.42      0.35      0.38       631

    accuracy                           0.32      2154
   macro avg       0.32      0.32      0.32      2154
weighted avg       0.34      0.32      0.33      2154